@import "tailwindcss";

@theme {
  --color-deepblue: #242e4c;
  --color-lightblue: #005cdf;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Leaflet overrides */
.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 20px 10px 18px !important;
}

/* Map marker styles */
.current-position-marker {
  background: transparent;
  border: none;
}

.current-position-marker div {
  transition: all 0.2s ease;
}

.current-position-marker div:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 0 3px #007bff,
    0 4px 8px rgba(0, 123, 255, 0.3);
}

.aggregation-marker-count {
  background-color: var(--color-deepblue);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
  position: relative;
}

.aggregation-marker-count:hover {
  scale: 1.1;
}

.empty-church-marker {
  background-color: #97beff !important; /* override leaflet default */
  border-radius: 5px;
}

.church-marker {
  background-color: var(--color-lightblue);
  height: 24px;
  width: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.church-marker::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid var(--color-lightblue);
}
